# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.github/instructions
.next
next-env.d.ts
dist
supabase
docs

# scraper state files
scripts/scraper/scraper-state.json
scripts/scraper/match-cache.json